<div>
    <nav class="navi-bar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="navbar-header">
                        <a [routerLink]="['/home']" class="navbar-brand">{{ name }}</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a [routerLink]="['/home']">Home</a></li>
                        <li><a [routerLink]="['/matches']">Matches</a></li>
                        <li><a href="#">Teams</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a [routerLink]="['/signup']"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>                        
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>