<div class="container-fluid">    
    <div class="col-sm-offset-2 col-sm-8">
        <h1 class="text-center">Welcome to the Bookmaker.</h1> 
        
        <h4 style="padding-top: 50px;">... test context (to check if footer works)...</h4><br />
        <h4>... test context ...</h4><br />
        <h4>... test context ...</h4><br />
        <h4>... test context ...</h4><br />
        <h4>... test context ...</h4><br />
        <h4>... test context ...</h4><br />
        <h4>... test context ...</h4><br />
        <h4>... test context ...</h4><br />
        <h4>... test context ...</h4><br />
        <h4>... test context ...</h4><br />
        <h4>... test context ...</h4><br />
        <h4>... test context ...</h4><br />
        <h4>... test context ...</h4><br />
        <h4>... test context ...</h4><br />
        <h4>... test context ...</h4><br />
        <h4>... test context ...</h4><br />
        <h4>... test context ...</h4><br />
        <h4>... test context ...</h4><br />
        <h4>... test context ...</h4><br />
        <h4>... test context ...</h4><br />
        <h4>... test context ...</h4><br />
        <h4>... test context ...</h4><br />
        <h4>... test context ...</h4><br />
        <h4>... test context ...</h4><br />             
    </div>
</div>