<div class="container-fluid">
    <div class="row" style="padding-top: 20px">
        <div class="col-sm-offset-3 col-sm-6">

            <div class="form-login" (keyup.enter)="_router.navigate(['/loading']);login(inputEmail, inputPassword)">
                <h4>Welcome back</h4>
                <input [(ngModel)]="inputEmail" type="text" id="userEmail" class="form-control input-sm" placeholder="email" spellcheck="false"/>
                <br />
                <input [(ngModel)]="inputPassword" type="password" class="form-control input-sm" placeholder="password" spellcheck="false"/>
                <br />
                <div class="wrapper">
                    <span class="group-btn">
                        <a [routerLink]="['/loading']" class="btn btn-primary btn-md" (click)="login(inputEmail, inputPassword)">Login</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>