<div>
    <button class="btn btn-default" (click)="addMoreContent()">Add more matches</button>
</div>

<div class="container-fluid">
    <div class="row matchesList">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="table-responsive">
                <table class="table" *ngIf="matches && matches.length">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Host</th>
                            <th>Guest</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="matchRow" *ngFor="let match of matches" (click)="goToDetails(match.id)">                            
                            <td>{{ match.id }}</td>
                            <td>{{ match.hostTeamName }}</td>
                            <td>{{ match.guestTeamName }}</td>
                            <td>{{ match.startTime }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>