<div class="container-fluid">
    <div class="row" style="padding-top: 20px">        
        <div class="col-sm-offset-3 col-sm-6">

            <div class="form-login">
                <h4>Register now to start placing bets</h4>
                <input type="text" id="userName" class="form-control input-sm" placeholder="username" spellcheck="false" />
                <br />
                <input type="password" id="userPassword" class="form-control input-sm" placeholder="password" spellcheck="false" />
                <br />
                <input type="password" id="userPasswordConfirm" class="form-control input-sm" placeholder="confirm password" spellcheck="false" />
                <br />
                <input type="text" id="userEmail" class="form-control input-sm" placeholder="email address" spellcheck="false" />
                <br />
                <input type="text" id="userEmailConfirm" class="form-control input-sm" placeholder="confirm email address" spellcheck="false" />
                <br />
                <div class="wrapper">
                    <span class="group-btn">                        
                        <button id="registerButton" class="btn btn-primary btn-md" disabled="disabled">Register</button>                        
                    </span>
                </div>
            </div>

        </div>        
    </div>
</div>