<div class="container-fluid">
    <div class="row" style="padding-top: 20px">        
        <div class="col-sm-offset-3 col-sm-6">

            <div class="form-login">
                <h4>Register now to start placing bets</h4>
                <input type="text" [(ngModel)]="username" id="username" class="form-control input-sm" placeholder="username" spellcheck="false" />
                <br />
                <input type="password" [(ngModel)]="userPassword" class="form-control input-sm" placeholder="password" spellcheck="false" ng-keyup="checkEmailAndPassword()"/>
                <br />
                <input type="password" [(ngModel)]="userPasswordConfirm" class="form-control input-sm" placeholder="confirm password" spellcheck="false" ng-keyup="checkEmailAndPassword()"/>
                <br />
                <input type="text" [(ngModel)]="userEmail" class="form-control input-sm" placeholder="email address" spellcheck="false" ng-keyup="checkEmailAndPassword()"/>
                <br />
                <input type="text" [(ngModel)]="userEmailConfirm" class="form-control input-sm" placeholder="confirm email address" spellcheck="false" ng-keyup="checkEmailAndPassword()"/>
                <br />
                <div class="wrapper">
                    <span class="group-btn">                        
                        <button class="btn btn-primary btn-md" ng-disabled="true" (click)="register()">Register</button>                        
                    </span>
                </div>
            </div>

        </div>        
    </div>
</div>