/*h1 {
    font-size: 300% !important;
    color: #369 !important;
}*/

form-control {
    width: 300px !important;
}

#topBanner {
    position: center;
    width: 80%;
    background: #94a3ff;
}

#topBannerTitle {
    color: white;
}

router-outlet {
    padding-top: 30px;
    display: flex;
}

.cursor-default {
    cursor: default;
}